@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

:root {
  --mediumGreen: #8ab392;
  --lightGreen: #edfdf1;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  max-width: 100vw;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.top {
  background-color: var(--mediumGreen);
  color: #ffffff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  width: 50px;
  height: 50px;
  z-index: 10;
  position: fixed;
  bottom: 10vh;
  right: 7vw;
}

/* -------------------nav------------------ */
nav {
  background-color: var(--lightGreen);
  ;
  box-shadow: 4px 0px 4px 0px gray;
  width: 100%;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-header img {
  width: 5.5rem;
}


.nav-toggle {
  transition: ease 0.3s;
  display: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  color: #037b37;
}

.links {
  display: flex;
}

.links li {
  padding: 20px;
  list-style: none;
}

.links li a {
  text-decoration: none;
  display: block;

  font-size: 17px;
  color: #292e1a;
  letter-spacing: 3px;
  font-weight: bold;

}

/* -------------------nav end----------------------- */

main {
  padding: 0px 4% 0px 4%;
}

/* --------------------row 1--------------------- */

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0px 0;

}

.col-1 {}

/* .col-2::before{
  content: url(pngtree-green-plant-leaf-vine-element-material-png-image_4279718-transformed\ \(1\).png);
  width: 10px;
    height: 57%;
    position: absolute;
    left: -40px;
    top: 8px;
} */
.home-img {
  height: 85vh;
}

.col-2 {
  /* line-height: 4rem; */
  width: 35vw;
  color: #292e1a;
}

.main-text {
  font-size: 50px;
  text-transform: capitalize;
}

.w-btn {
  font-size: 15px;
  padding: 7px 14px 7px 14px;
  background-color: var(--lightGreen);
  ;
  border-style: solid;
  /* border: none; */
  border-color: rgb(163, 163, 163);
  border-radius: 20px;
  transition: ease 0.3s;
  margin-top: 10px;
}

.w-btn:hover {
  background-color: var(--mediumGreen);
  ;
  color: white;
}

/* --------------------row 1 end--------------------- */

/* ----------------------section 2 banner----------------------- */

.section {
  width: 100%;
  margin-top: 50px;
  background-color: var(--lightGreen);
  ;
  padding: 4%;
  border-radius: 20px;

}

.sec-head {
  /* text-transform: capitalize; */
}

.banner h2 {}

.underline {
  width: 180px;
  height: .3rem;
  background-color: var(--mediumGreen);
  ;
  border-radius: 20px;
}

.sec-imgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

}

.sec-imgs img {
  width: 500px;
  margin-top: 50px;
  border-radius: 15px;
}

/* ----------------------section 2 banner end------------------- */


/*-------------------sec 3 event-----------------  */

.event-underline {
  width: 160px;
}

/*-------------------sec 3 event end-------------  */

/*-------------------sec 4 tips-----------------  */

.tips-img-div {
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('yae+raid-l-min.jpg');
  width: 500px;
  height: 250px;
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  border-radius: 15px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.image-title-div {
  width: 100%;
  height: 20%;
  border-radius: 0px 0px 15px 15px;
  background-color: var(--mediumGreen);
  ;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.image-title {
  margin-left: 15px;
  font-weight: lighter;
  letter-spacing: 2px;
}

/*-------------------sec 4 tips end-------------  */

/*-------------------sec 5 calc-------------  */

.uidInputDiv {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 30px;
}

.uidInputDiv input {
  border-radius: 5px;
  width: 250px;
  height: 30px;
  border-style: solid;
  border-color: var(--mediumGreen);
  ;
  font-size: 20px;
}

.uidBtn {
  height: 30px;
  width: 30px;
  color: #037b37;
  background-color: transparent;
  border-color: var(--mediumGreen);
  ;
  border-style: solid;
  border-radius: 5px;
}


.charDetailsDiv {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.charDiv {
  width: 400px;
  height: 450px;
  background-color: var(--mediumGreen);;
  margin: 20px;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.charCardCol1 {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
}

.charCardCol2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  margin-left: 15px;
}

.charIcon {
  height: 100px;
}

.weaponImg {
  width: 60px;
}

.charDivRow1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.charDivRow2 {
  height: 60px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;

}

.charStatsInfoCol1 {
  width: 75px;
}

.talentImg {
  width: 35px;
}

.charConstl {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*? giving a frame to constellation of chars */

.conslCircle {
  position: relative;
  top: 0;
  left: 0;
}

.constlImg1 {
  position: relative;
  top: 0;
  left: 0;
  width: 50px;
}

.constlImg2 {
  position: absolute;
  top: 8px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  width: 40px;
}

.lockIcon {
  position: absolute;
  top: 13px;
  left: 14px;
  font-size: 25px;
  color: white;
}

/*-------------------sec 5 calc end-------------  */

/*----------------------footer-------------------*/

footer {
  margin-top: 50px;
}

footer .container {
  line-height: 1.5;
  max-width: 1170px;
  margin: auto;
}

footer .row {
  display: flex;
  flex-wrap: wrap;
}

footer ul {
  list-style: none;
}

.footer {
  background-color: #24262b;
  padding: 70px 0;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/**-----------responsive footer----------*/

@media(max-width: 768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

@media (max-width: 768px) {

  /**---------------HOME Page--------------**/
  .logo {
    width: 75px;
  }

  .btn {
    color: #fbfcfb;
    padding: 8px 18px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
  }


  .home .head h1 {
    font-size: 45px;
    line-height: normal;
  }
}

/*----------------------footer end-------------------*/

@media (max-width: 768px) {

  /* -------------------nav------------------ */


  .nav-center {
    display: unset;
  }

  .nav-header {
    height: 20px;
  }

  .nav-toggle {
    display: block;
  }

  .links {
    height: 0;
    overflow: hidden;
    transition: ease 0.3s;
    text-align: center;
    display: block;

  }

  .show-links {
    height: 14rem;
  }

  .links li {
    padding: 0px;
  }

  .links li a {
    padding: 10px;
  }

  .links li:hover {
    background-color: var(--mediumGreen);
    ;
  }

  .links li:hover :only-child {
    margin-left: 10px;
    color: white;
  }

  .links li a {
    transition: ease 0.3s;
  }

  /* -------------------nav end------------------ */

  /* -------------------sec 1---------------- */

  .row-1 {
    flex-direction: column;
  }

  .home-img {
    /* width: 80vw; */
    height: 50vh;
  }

  .col-2 {
    width: 90%;
  }

  .main-text {
    font-size: 30px;
  }

  /* --------------------sec 1 end--------------------- */

  .sec-head {
    font-size: 12px;
  }

  .underline {
    width: 140px;
  }

  .sec-imgs img {
    width: 90%;
    margin-top: 30px;
  }

  .sec-imgs a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tips-img-div {
    width: 90%;
    height: 37.5vw;
    margin-top: 30px;
  }

  .image-title-div {
    font-size: 10px;
  }

  .image-title {
    margin-left: 15px;
    letter-spacing: 1px;
  }

  /* --------------------sec calc --------------------- */
  .uidInputDiv input {
    width: 200px;
    font-size: 15px;
  }

  .charDiv {
    width: 300px;
    height: 370px;
    margin: 10px;
    font-size: 12px;
  }

  .charIcon {
    height: 85px;
  }
.charCardCol2{
  height: 150px;
}
  .charDivRow2 {
    margin-top: 0px;
    margin-bottom: 10px;

  }

  .constlImg1 {
    width: 40px;
  }

  .constlImg2 {
    width: 30px;
  }

  .lockIcon {
    top: 10px;
    left: 11px;
    font-size: 20px;
  }

  /* --------------------sec calc end--------------------- */

}