@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.home {
  width: 100vw;
  height: 100vh;
}

/* -------------------nav------------------ */
nav {
  background-color: #edfdf1;
  box-shadow: 4px 0px 4px 0px gray;
  width: 100vw;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.nav-header img {
  width: 5.5rem;
}


.nav-toggle {
  transition: ease 0.3s;
  display: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  border: none;
  color: #037b37;
}

.links {
  display: flex;
}

.links li {
  padding: 20px;
  list-style: none;
}

.links li a {
  text-decoration: none;
  font-size: 17px;
  color: #292e1a;
  letter-spacing: 3px;
  font-weight: bold;

}

/* -------------------nav end----------------------- */

/* --------------------row 1--------------------- */

.row-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 6% 0px 6%;

}

.col-1 {}

/* .col-2::before{
  content: url(pngtree-green-plant-leaf-vine-element-material-png-image_4279718-transformed\ \(1\).png);
  width: 10px;
    height: 57%;
    position: absolute;
    left: -40px;
    top: 8px;
} */
.home-img {
  height: 85vh;
}

.col-2 {
  /* line-height: 4rem; */
  width: 35vw;
  color: #292e1a;
}

.main-text {
  font-size: 50px;
  text-transform: capitalize;
}

.w-btn {
  font-size: 15px;
  padding: 7px 14px 7px 14px;
  background-color: #d6e6d9;
  border-style: solid;
  /* border: none; */
  border-color: rgb(163, 163, 163);
  border-radius: 20px;
  transition: ease 0.3s;
  margin-top: 10px;
}

.w-btn:hover {
  background-color: #8ab392;
  color: white;
}

/* --------------------row 1 end--------------------- */





@media (max-width: 768px) {

  /* -------------------nav------------------ */


  .nav-center {
    display: unset;
  }

  .nav-header {
    height: 20px;
  }

  .nav-toggle {
    display: block;
  }

  .links {
    height: 0;
    overflow: hidden;
    transition: ease 0.3s;
    text-align: center;
    display: block;

  }

  .show-links {
    height: 12rem;
  }

  .links li {
    padding: 10px;
  }

  .links li:hover {
    background-color: #8ab392;
  }

  .links li:hover :only-child {
    margin-left: 10px;
    color: white;
  }

  .links li a {
    transition: ease 0.3s;
  }

  /* -------------------nav end------------------ */

  /* -------------------row 1---------------- */

  .row-1 {
    flex-direction: column;
  }

  .home-img {
    /* width: 80vw; */
    height: 50vh;
  }

  .col-2 {
    width: 90%;
  }

  .main-text {
    font-size: 30px;
  }

  /* --------------------row 1 end--------------------- */


}