/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.3rem;
  /*========== Colors ==========*/
  --darkGreen: #0e2713;
  --mediumGreen: #8ab392;
  --lightGreen: #edfdf1;
  --hue: 45;
  --sat: 98%;
  --first-color: hsl(var(--hue), var(--sat), 60%);
  --first-color-light: hsl(var(--hue), var(--sat), 85%);
  --first-color-lighten: hsl(var(--hue), var(--sat), 80%);
  --first-color-alt: hsl(var(--hue), var(--sat), 53%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 65%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #FFF;
  --scroll-bar-color: hsl(var(--hue), 4%, 85%);
  --scroll-thumb-color: hsl(var(--hue), 4%, 75%);
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-bold: 700;
  /*========== Margins ==========*/
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
*, ::before, ::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.5s;
}

h1, h2, h3 {
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.scrollup {
  position: fixed;
  background: var(--mediumGreen);
  right: 1rem;
  bottom: -20%;
  display: inline-flex;
  padding: 0.5rem;
  border-radius: 0.5rem;
  z-index: var(--z-tooltip);
  transition: 0.4s;
  opacity: 0.9;
}
.scrollup:hover {
  background-color: var(--darkGreen);
  opacity: 1;
}
.scrollup__icon {
  font-size: 1.65rem;
  color: white;
}

/* Show Scroll Up*/
.show-scroll {
  bottom: 3rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: var(--scroll-bar-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}

/* For small devices */
@media screen and (max-width: 360px) {
  .section {
    padding: 3.5rem 0 1rem;
  }
  .home__img {
    width: 230px;
  }
  .about__img {
    width: 250px;
  }
}
@media screen and (max-width: 360px) and (max-width: 390px) {
  .input__box button {
    width: 100%;
    margin: 0 0.8rem;
  }
}
/* For medium devices */
@media screen and (min-width: 576px) {
  .section__title-center {
    text-align: initial;
  }
  .home__container,
.about__container,
.banner__container,
.events__container .tips__container,
.footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .home__img {
    order: 1;
  }
  .home__container,
.about__container {
    align-items: center;
  }
  .about__data .section__title-center {
    display: block;
  }
  .about__data,
.banner__data {
    text-align: initial;
  }
  .about__img {
    order: -1;
  }
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .home__img {
    width: 300px;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .nav__toggle, .nav__close {
    display: none;
  }
  .nav__menu {
    margin-left: auto;
  }
  .home__container {
    padding: 5rem 0 2rem;
  }
}
/* For large devices */
@media screen and (min-width: 968px) {
  .container {
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
  }
  .button__header {
    display: block;
  }
 
  .home__img {
    position: absolute;
    margin-top: 6rem;
    right: 8rem;
    align-items: center;
    width: 320px;
  }
  .about__container,
.security__container,
.app__container,
.contact__container {
    column-gap: 6rem;
  }
  .services__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .contact__container {
    grid-template-columns: 3fr 1.5fr 1.25fr;
  }
  .footer__container {
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3rem;
  }
  .footer__social {
    align-items: flex-start;
  }
  .footer__social-link {
    font-size: 1.45rem;
  }
  .footer__title {
    font-size: 1rem;
  }
  .input__box input {
    width: 100%;
  }
  .input__box button {
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
  .home__img {
    width: 360px;
  }
  .home__description {
    padding-right: 5rem;
  }
  .footer__container {
    column-gap: 3rem;
  }
  .scrollup {
    right: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
