* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

/**-------nav-------**/
nav a {
  color: #003d11;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

.logo img {
  margin-left: 40px;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 40px;

}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 50px;
  font-weight: bold;
  justify-content: center;
}

.nav-list .log-in {
  color: #004b15;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #003d11;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.nav-list.active {
  transform: translateX(0);
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}

.container {
  padding-left: 6%;
  padding-right: 6%;

}

/**-------home page-------**/
.home.row {

  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.home .col-1 {
  position: relative;
  color: #164021;


}

.home .col-2 {
  position: relative;
}

.home {
  background-color: white;
}

.home .col-1 h1 {
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 100px;
}

.home .col-2 img {
  width: 560px;
}

.home .col-1 {
  width: 450px;
}



/**----------event--------**/
.event h1 {
  margin-top: 100px;
  font-size: 45px;
}

.event-content {
  margin-top: 100px;
}

.row {
  display: flex;
  justify-content: center;
  justify-content: space-between;

}

.row-2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;

}

/**------card's style-----**/

.card {
  width: 350px;
  height: 180px;
  background: #000;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .25s ease;
  backface-visibility: hidden;

}

.card:hover ::after {
  height: 280px;
}

.card:hover .con-text p {
  margin-bottom: 0px;
  opacity: 1;
}

.card:hover img {
  transform: scale(1.25);
}

.card::after {
  width: 100%;
  content: '';
  left: 0px;
  bottom: 0px;
  height: 150px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%), rgba(0, 0, 0, 1) 100%;
  z-index: 20;
  transition: all .25s ease;
}

.card img {
  height: 100%;
  z-index: 10;
  transition: all .25s ease;
}

.card .con-text {
  z-index: 30;
  position: absolute;
  bottom: 0px;
  color: #333;
  padding: 20px;
  padding-bottom: 30px;
}

.card .con-text p {
  font-size: .8rem;
  opacity: 0;
  margin-bottom: -170px;
  transition: all .25s ease;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
}

.card .con-text p button {
  padding: 7px 17px;
  border-radius: 12px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 10px;
  margin-left: auto;
  cursor: pointer;
  transition: all .25s ease;
  font-size: .75rem;
  outline: none;
}

.card .con-text p button:hover {
  background: #fff;
  color: #000;
}

.bgnrs-advice {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}


.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@media (max-width: 768px) {
  body {
    overflow-x: hidden;

    /**-------nav-------**/

  }

  .logo {
    margin-left: 10px;
  }

  nav {
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    margin: auto;

  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
    margin-right: 20px;
    margin-top: 10px;
  }

  /**-------home page-------**/
  .home.row {
    flex-direction: column-reverse;

  }

  .home .col-1 {
    margin-left: -80px;
    margin-top: 40px;
    width: 265px;
  }

  .home .col-1 h1 {
    font-size: 50px;
    line-height: normal;
  }

  .home .col-2 {
    margin-top: 30px;
  }

  .home .col-2 img {
    width: 350px;
  }

  /**------card------**/


  .event h1 {
    margin-left: 20px;
    font-size: 35px;
  }

  .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

  }

  .row-2 {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }


  .card {
    margin-bottom: 40px;
    width: 310px;
    height: 155px;
  }

  .bgnrs-advice {
    margin-top: 40px;
  }
}



@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}