* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}

nav a {
  color: #003d11;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  opacity: 0.7;
}

.logo img{
  margin-left: 40px;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items:center;
  background: transparent;
  height: 70px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-right: 40px;
  
}

.nav-list li {
  letter-spacing: 2px;
  margin-left: 50px;
  font-weight: bold;
  justify-content: center;
}

.nav-list .log-in{
  color: #004b15;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #003d11;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: black;
  margin: 8px;
  transition: 0.3s;
}
.container{
  padding-left: 6%;
  padding-right: 6%;
  
}
.row{

  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.col-1{
  position: relative;
  color: #164021;
  
  
}
.col-2{
  position: relative;
}
.home{
  background-color: white;
}

.home .col-1 h1{
  font-size: 80px;
  margin: 10px 0 30px;
  line-height: 100px;
}
.home .col-2 img{
  width: 560px;
}
.home .col-1{
  width: 450px;
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .logo{
    margin-left: 10px;
  }
  nav{
    justify-content: space-between;
    align-items: center;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    margin: auto;
    
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    margin-right: 20px;
    margin-top: 10px;
  }
  .row{
    flex-direction: column-reverse;
    
  }
  .col-1{
    margin-right: 80px;
    position: relative;
    margin-top: 40px;
  }
  .col-2{
    
  }
  .home .col-1 h1{
    font-size: 50px;
    line-height: normal;
  }
  .home .col-1{
    width: 275px;
  }
  .home .col-2 img{
    width: 350px;
    
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
