button {
  background-color: var(--darkGreen);
  border-radius: 10px;
  border: 1px solid var(--mediumGreen);
  outline: none;
  color: var(--mediumGreen);
  padding: 1rem;
}
button:hover {
  background-color: var(--mediumGreen);
  color: var(--darkGreen);
  cursor: pointer;
}

/* =============== search field =============== */
.search__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--lightGreen);
  border-radius: 20px;
  padding: 1.5rem;
}

.search__container .input__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  row-gap: 1rem;
  flex-wrap: wrap;
  column-gap: 0.25rem;
}
.search__container .input__box input {
  padding: 1rem 1rem;
  color: var(--darkGreen);
  font-size: 1rem;
  border: 1px solid var(--mediumGreen);
  outline: none;
  border-radius: 10px;
}

/*=============== side icons ===============*/

.charSideIconContainer {
  display: flex;
  justify-content: space-around;

  margin: 1rem;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .charSideIconContainer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .charSideIcon {
   margin: 10px;
  }
  
}
.charSideIcon {
  border: 2px solid;
  border-radius: 100%;
  border-color: var(--darkGreen);
  background-color: var(--darkGreen);
  margin: 2px;
}


.char_cards_container {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.charDiv {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: fit-content;
  height: 350px;
  align-items: center;
  justify-content: space-around;
  border-radius: 5%;
}

/* ? character card and hover colors for each element */
.bg_Pyro {
  background: rgb(199, 4, 4);
}
.bg_Pyro:hover {
  background: rgb(222, 16, 16);
  cursor: pointer;
}

.bg_Hydro {
  background: rgb(0, 50, 168);
}
.bg_Hydro:hover {
  background: rgb(0, 50, 200);
  cursor: pointer;
}

.bg_Cryo {
  background: rgb(79, 205, 250);
}
.bg_Cryo:hover {
  background: rgb(115, 218, 255);
  cursor: pointer;
}

.bg_Electro {
  background: rgb(213, 5, 213);
}
.bg_Electro:hover {
  background: rgb(233, 33, 233);
  cursor: pointer;
}

.bg_Anemo {
  background: rgb(124, 213, 140);
}
.bg_Anemo:hover {
  background: rgb(165, 228, 176);
  cursor: pointer;
}

.bg_Geo {
  background: rgb(239, 212, 40);
}
.bg_Geo:hover {
  background: rgb(237, 234, 55);
  cursor: pointer;
}

.bg_Dendro {
  background: rgb(19, 189, 22);
}
.bg_Dendro:hover {
  background: rgb(38, 205, 41);
  cursor: pointer;
}


/*=============== Char Cards ===============*/
.cardDarkColor {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 5px;
  /* margin: 5px; */
}

.charCardCol1 {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  flex-direction: column;
  text-align: center;
}

.charCardCol2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  margin-left: 15px;
}

.charIcon {
  height: 100px;
}

.weaponImg {
  width: 60px;
}

.charDivRow1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 150px;
}

.charDivRow2 {
  height: 60px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.charDivRow3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  margin-top: 5px;
}

.showDetailedStatsButton {
  border-radius: 10px;
  outline: none;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.554);
  color: white;
}
.showDetailedStatsButton:hover {
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.charStatsInfoCol1 {
  width: 75px;
}

.talentImg {
  width: 35px;
}



/*===============Selected Char Details ===============*/

#charDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 20px;
  margin: 1rem;
}

.char__details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 350px;
  justify-content: space-between;
  border-radius: 5%;
  color: #fff;
}

.char__data__const {
  display: flex;
  flex-direction: row;
}

.char__data__const img {
  margin: 4px;
  align-self: self-start;
  background-color: gray;
  border-radius: 100%;
  height: 50px;
  width: 50px;
}
.char__img__container {
  display: flex;
}

.jsonField {
  margin-top: 2rem;
  border: 2px solid;
  padding: 1rem;
  width: 100%;
}
/*? giving a frame to constellation of chars */
.charConstl {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  height: 60px;
}

.constlCircle {
  border: solid 2px white;
  border-radius: 100%;
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  margin: 2px;
}

.constlImg {
  width: 50px;
  height: 50px;
}
.constlImgDisabled {
  width: 50px;
  height: 50px;
  opacity: 0.2;
}

.lockIcon {
  position: absolute;
  top: 13px;
  left: 14px;
  font-size: 25px;
  color: white;
}

/* ? removing the hover effects for single character card */

#charDetails .bg_Electro:hover {
  background: rgb(213, 5, 213);
  cursor: default;
}

#charDetails .bg_Anemo:hover {
  background: rgb(124, 213, 140);
  cursor: default;
}

#charDetails .bg_Geo:hover {
  background: rgb(239, 212, 40);
  cursor: default;
}

#charDetails .bg_Dendro:hover {
  background: rgb(19, 189, 22);
  cursor: default;
}

#charDetails .bg_Pyro:hover {
  background: rgb(199, 4, 4);
  cursor: default;
}

#charDetails .bg_Hydro:hover {
  background: rgb(0, 50, 168);
  cursor: default;
}

#charDetails .bg_Cryo:hover {
  background: rgb(79, 205, 250);
  cursor: default;
}
