.home__container {
  padding-top: 1rem;
  row-gap: 1rem;
}
.home__img {
  width: 250px;
  justify-self: center;
}
.home__title {
  font-size: var(--biggest-font-size);
  line-height: 144%;
  font-weight: var(--font-bold);
  margin-bottom: var(--mb-0-75);
}
.home__description {
  margin-bottom: var(--mb-1);
}
