.calculator{
   
    &__container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--lightGreen);
        border-radius: 20px;
        padding:1.5rem;
        article{
            img{
                border-radius: 15px;
            }
        }
        .input__box{
            display: flex;
            column-gap: .25rem;
            input{
                padding: .1rem .5rem;
                font-size: 1rem;
                border: 1px solid var(--mediumGreen);
                outline: none;
                border-radius: 10px;
            }
            button{
                border-radius: 10px;
                border: none;
                border: 1px solid var(--mediumGreen);
                outline: none;
                color: var(--mediumGreen);
                i{
                    color: var(--darkGreen);
                }
            }
        }
        .cardDarkColor{
            background-color: rgba(0, 0, 0, 0.15);
            font-weight: 550;
            border-radius: 10px;
            padding:.7rem 1.2rem;
            text-align: center;
        }
    }
}