.footer{
    background-color: #24262b;
    color: white;
    padding-top: 2rem;
    padding-bottom:2rem;

    &__container{
        row-gap: 2rem;
    }

    &__logo, 
    &__title{
        color: white;
        font-size: var(--h2-font-size);
    }
    &__title{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            bottom: -.3rem;
            width: 20%;
            height: 2px;
            background-color: var(--mediumGreen);
        }
        margin-bottom: var(--mb-1-5);
    }
    &__logo{
        width: 100px;
        display: inline-block;
    }
    &__description{
        color: rgb(187, 187, 187) ;
    }
    &__description,
    &__link{
        font-size: var(--medium-font-size);
    }
    &__links{
        display: grid;
        row-gap: .5rem;
    }
    &__link{
        color: rgb(187, 187, 187);
    }
    &__social{
        display: flex;
        align-items:center;
        justify-content: center;

        &-link{
            margin-right: .5rem;
            font-size: 1.5rem;
            color: white;
        }
    }
    &__copy{
        margin-top: 6rem;
        text-align: center;
        font-size: 1rem;
        color: var(--text-color);
    }
}